/* ***** */
/* FONT  */
/* ***** */

@font-face {
    font-family: 'VT323';
    src: url("../fonts/VT323-Regular.ttf");
}

/* *********** */
/* BASIC STYLE */
/* *********** */

:root {
    --color-bg: ;
}

html {
    /* background-color: rgb(204, 208, 245); */ 
    
    font-family: "VT323", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url("../img/train.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#names > h1 {
    background-image: url('../img/nameboard.jpeg');
    width: max-content;
    height: auto;
    padding: 1em;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#names h2 {
    font-size: small;
    color: white;
    margin: 0;
}

.rotation {
    margin: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px; /* Adjust the perspective for the 3D effect */
    perspective-origin: center;
}

.avatar {
    width: 200px;
    height: 200px;
    background-image: url("../img/avatar.gif");

    background-size: cover;
    border-radius: 50%;
    position: relative;
    transform-style: preserve-3d;
}

/* ********************* */
/* SIZING AND NAVIGATION */
/* ********************* */
button {
    cursor: pointer;
}
.avatar > div,
#nextButton,
#prevButton {
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar > div {
    top: 50%;
    left: 50%;
    transition: transform 1s ease-in-out; 
}

#nextButton {
    background-image: url("../img/next.png");
    border: none;
    background-color: transparent;
    right: 5vw;
    bottom: 5vh;
}

#nextButton:active {
    background-image: url("../img/darknext.png")
}

#prevButton {
    background-image: url("../img/prev.png");
    border: none;
    background-color: transparent;
    left: 5vw;
    bottom: 5vh;
}

#prevButton:active {
    background-image: url("../img/darkprev.png")
}


/* ********************* */
/* AVATAR ICONS CIRCLING */
/* ********************* */

/* Bio */
.avatar > div:nth-child(1) {
    background: url("../img/bio.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, 100%) rotateY(0deg) translateZ(100px);
}

/* Level */
.avatar > div:nth-child(2) {
   background: url("../img/level.png");
    background-repeat: no-repeat;
    background-size: cover;
   transform: translate(-50%, 50%) rotateY(72deg) translateZ(100px);
}

/* Soundtrack */
.avatar > div:nth-child(3) {
   background: url("../img/soundtrack.png");
    background-repeat: no-repeat;
    background-size: cover;
   transform: translate(-50%, -50%) rotateY(144deg) translateZ(100px);
}

/* Native to */
.avatar > div:nth-child(4) {
    background: url("../img/nativeto.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%) rotateY(216deg) translateZ(100px);
}

/* Strengths */
.avatar > div:nth-child(5) {
    background: url("../img/strengths.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, 50%) rotateY(288deg) translateZ(100px);
}

/* INFOS */
.information {
    background: url("../img/biobox.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 270px;
    max-width: 270px;
    min-height: 27vh;
    max-height: 27vh;
    padding: .5em 2em;
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.information #infoname {
    padding-bottom: 0;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.information #infotext {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: auto;
    flex-grow: 1;
}

/* MEDIA PLAYER */
#audio-player-container {
    justify-content: space-between;
    text-align: center;
}

#play-icon,
#play-icon img,
#previous-song,
#previous-song img,
#next-song,
#next-song img {
    height: 30px;
    min-width: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#player {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: transparent;
    height: 10px;
    appearance: none;
    cursor: pointer;
    width: 35cqw;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    box-sizing: content-box;
    border: 2px solid #76273d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url("./img/playbutton.png");
    cursor: pointer;
    margin: -7px 0 0 0;
}

input[type="range"]::-moz-range-thumb {
    position: relative;
    box-sizing: content-box;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: url("../img/sliderthumb.png");
    background-size: cover;
    cursor: pointer;
    margin: -7px 0 0 0;
}


input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: url("../img/slider.jpeg");
  border-radius: 16px;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
  height: 5px;
  background: url("../img/slider.jpeg");
  border-radius: 16px;
}

/* **************** */
/*  LEVEL INDICATOR */
/* **************** */

#leveldisplay {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

#prevlevel,
#nextlevel {
    height: 15px;
    width: 15px;
    padding: .25em;
    color: rgb(42, 49, 59);
    background: url("../img/levelnumberbox.png") ;
    background-size: cover;
    text-align: center;
}

#levelcontainer {
    height: 10px;
    border-radius: 15px;
    background-color: #2c5766;
    width: 50cqw;
}

#levelindicator {
    position: relative;
    height: 10px;
    border-radius: 15px;
    background-color: #1c272b;
    width: 90%;
}

#levelindicator::after {
    content: '';
    display: block;
    background-image: url("../img/avatar.png");
    background-size: cover;
    border-radius: 16px;
    height: 30px;
    width: 30px;
    position: absolute;
    right: -5vw;
    bottom: -1.15vh;
}

/* STRENGTHS */

.strength-bullet {
    list-style-type: square;
    padding: 0 0 0 1em;
}
