/* ***** */
/* FONT  */
/* ***** */

@font-face {
    font-family: 'VT323';
    src: url("../fonts/VT323-Regular.ttf");
}

/* *********** */
/* BASIC STYLE */
/* *********** */

:root {
    --color-bg: ;
}

html {
    background-color: rgb(204, 208, 245);
    font-family: "VT323", sans-serif;
}

.rotation {
    margin: 0;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px; /* Adjust the perspective for the 3D effect */
    perspective-origin: center;
}

.avatar {
    width: 200px;
    height: 200px;
    background-image: url("../img/avatar.png");
    background-size: cover;
    border-radius: 50%;
    position: relative;
    transform-style: preserve-3d;
}

.avatar > div {
    width: 50px;
    height: 50px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 50%;
    left: 50%;
    transition: transform 1s ease-in-out; 
}

.avatar > div:nth-child(1) {
    background: url("../img/bio.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, 100%) rotateY(0deg) translateZ(100px);
}

.avatar > div:nth-child(2) {
   background: url("../img/level.png");
    background-repeat: no-repeat;
    background-size: cover;
   transform: translate(-50%, 50%) rotateY(72deg) translateZ(100px);
}

.avatar > div:nth-child(3) {
   background: url("../img/soundtrack.png");
    background-repeat: no-repeat;
    background-size: cover;
   transform: translate(-50%, -50%) rotateY(144deg) translateZ(100px);
}

.avatar > div:nth-child(4) {
    background: url("../img/nativeto.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%) rotateY(216deg) translateZ(100px);
}

.avatar > div:nth-child(5) {
    background: url("../img/strengths.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%, 50%) rotateY(288deg) translateZ(100px);
}